<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpaceCompany</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="container-xl">
<div th:insert="~{navbar :: navbar}"></div>

<div class="d-flex justify-content-center text-center">
    <form class="mt-5" method="post">
        <div class="row align-items-center">
            <div class="col">
                <div th:each="typeAccess: ${typeAccesses}">
                    <input th:text="${typeAccess.name}" th:value="${typeAccess.name}" name="typeAccess" class="mb-3"
                           type="radio"/>
                </div>
            </div>
            <div class="col">
                <div><input type="text" name="url" placeholder="url"/></div>
                <div><input type="text" name="login" placeholder="login"/></div>
                <div><input type="text" name="password" placeholder="password"/></div>
                <div>
                    <button class="badge text-bg-success mt-2" type="submit">add</button>
                </div>
            </div>
        </div>

    </form>
</div>

        <div class="card mt-5" style="width: 18rem;" th:each="access : ${site.accessList}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${access.typeAccess}"></li>
                <li class="list-group-item" th:text="${access.url}"></li>
                <li class="list-group-item" th:text="${access.login}"></li>
                <li class="list-group-item" th:text="${access.password}"></li>
                <form th:action="@{/accessDel}" th:object="${accessForDelete}" method="post">
                    <input type="hidden" name="id" th:value="${access.id}">
                    <button class="badge text-bg-danger my-3" type="submit">delete</button>
                </form>
            </ul>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
</body>
</html>