<div th:fragment="accessList">
    <div class="card mt-5" style="width: 18rem;" th:each="access : ${site.accessList}">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${access.typeAccess}"></li>
            <li class="list-group-item" th:text="${access.url}"></li>
            <li class="list-group-item" th:text="${access.login}"></li>
            <li class="list-group-item" th:text="${access.password}"></li>
            <form th:action="@{/accessDel}" th:object="${accessForDelete}" method="post">
                <input type="hidden" name="id" th:value="${access.id}">
                <input type="hidden" name="id_site" th:value="${access.site.id}">
                <button class="badge text-bg-danger my-3" type="submit">delete</button>
            </form>
        </ul>
    </div>
</div>